@page "/"
@using System.Globalization;
@inject IGrainFactory _grainFactory
@inject ILoanProcessOrchestratorGrain _loanProcessOrchestrator
@implements ILoanProcessOrchestratorGrainObserver
@implements IDisposable

<PageTitle>Loan Process Monitor</PageTitle>

<h1>Loan Process Monitor</h1>

Here you can observe the loans as they are processed in real time.

<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Loan Amount</th>
            <th>Application Received</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in _loans) {
            <tr>
                <td>@loan.ApplicationId</td>
                <td>@loan.LoanAmount.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))</td>
                <td>@loan.Received</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    protected List<LoanApplication> _loans = new();
    ILoanProcessOrchestratorGrainObserver _reference;

    protected override async Task OnInitializedAsync() {
        _loans = await _loanProcessOrchestrator.GetLoansInProgress();
        _reference = _grainFactory.CreateObjectReference<ILoanProcessOrchestratorGrainObserver>(this);
        await _loanProcessOrchestrator.Subscribe(_reference);
    }

    private void RunTaskAndRefresh(Action taskToRun) {
        taskToRun();
        InvokeAsync(() => StateHasChanged());
    }

    public Task OnAfterLoanApplicationProcessed(LoanApplication app)
        => Task.Run(() => RunTaskAndRefresh(()
            => _loans.RemoveAll(x => x.ApplicationId == app.ApplicationId)));

    public Task OnAfterLoanProcessChecked(LoanApplication app) {
        if(!_loans.Any(x => x.ApplicationId == app.ApplicationId)) {
            RunTaskAndRefresh(() => _loans.Add(app));
        }
        return Task.CompletedTask;
    }
        
    public void Dispose()
        => _loanProcessOrchestrator.Unsubscribe(_reference);
}